body {
	height: 100%;
	overflow: auto;
}
.navstyle{
	padding: 5px;
	background-color: #212529;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.back1{
	background-image: url(../images/back1.jpg);
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
}

.loginf{
	justify-content: center;
	align-items: center;
	height: 100%;
}

.white_text{
	color: white;
}

.contain{
	height: 500px;
}